<ion-header>
  <ion-toolbar dir="rtl">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title dir="rtl">تغيير رقم الجوال</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid *ngIf="errorLoad == true" class="custGrid" > 
    <ion-row class="ion-no-margin  ion-no-padding ion-justify-content-center w100" > 
      <ion-col size="12" class="ion-text-center "> 
        <h3>خطأ في التحميل</h3> 
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="reload()">
          <h5>تحديث</h5>
          <ion-icon name="refresh" color="light" slot="end"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
</ion-grid>


<ion-grid *ngIf="!USER_INFO && errorLoad == false"  class="custGrid"> 
  <ion-row class="ion-no-margin  ion-no-padding w100" >
    <ion-col size="12" class="ion-text-center">
      <!-- *ngIf="spinner == true" -->
      <ion-spinner name="lines" color="dark" mode="ios"></ion-spinner> 
    </ion-col>
    <ion-col size="12">
      <!-- *ngIf="spinner == true" --> 
    </ion-col>
  </ion-row> 
</ion-grid>

<ion-grid *ngIf="USER_INFO">  
  <form [formGroup]="ionicForm" (ngSubmit)="updatePhone()" novalidate>
  <ion-grid *ngIf="USER_INFO" dir="rtl">
    <ion-row>
      <ion-list class="w100">
        <ion-label> <ion-text color="dark">رقم الجوال </ion-text></ion-label>
        <ion-item dir="ltr"> 
          <ion-label slot="start">+249</ion-label>
          <ion-input  formControlName="phone" placeholder="New phone here" [(ngModel)]="USER_INFO.phone"></ion-input>
          <ion-note slot="error" *ngIf="isSubmitted == true && errorControl.phone.errors?.pattern">ادخل ارقام فقط  </ion-note> 
          <ion-note slot="error" *ngIf="isSubmitted == true && errorControl.phone.errors?.required">رقم الجوال مطلوب </ion-note>
          <ion-note slot="error" *ngIf="isSubmitted == true && (errorControl.phone.errors?.minlength || errorControl.phone.errors?.maxlength)">يجب ان يتكون من 9 أرقام </ion-note> 
        </ion-item>
      </ion-list>
    </ion-row>
    <ion-row class="ion-margin">
      <ion-col size="12">
        <ion-item color="primary"  [disabled]="spinner == true" button (click)="updatePhone()">
          <ion-label class="ion-text-center">حفــظ </ion-label> 
          <ion-spinner name="lines" color="light" *ngIf="spinner == true"></ion-spinner>  
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid> 
</form>
</ion-grid>
</ion-content>
