<ion-header>
  <ion-toolbar dir="rtl" >
    <ion-title>
      <ion-icon name="receipt-outline"></ion-icon>
     الطلبات 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
  <ion-grid *ngIf="errorLoad == true" class="custGrid" > 
    <ion-row class="ion-no-margin  ion-no-padding ion-justify-content-center w100" > 
      <ion-col size="12" class="ion-text-center "> 
        <h3>خطأ في التحميل</h3> 
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="reload()">
          <h5>تحديث</h5>
          <ion-icon name="refresh" color="light" slot="end"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
</ion-grid>


<ion-grid *ngIf="!orders && errorLoad == false"  class="custGrid"> 
  <ion-row class="ion-no-margin  ion-no-padding w100" >
    <ion-col size="12" class="ion-text-center">
      <!-- *ngIf="spinner == true" -->
      <ion-spinner name="lines" color="dark" mode="ios"></ion-spinner> 
    </ion-col>
    <ion-col size="12">
      <!-- *ngIf="spinner == true" --> 
    </ion-col>
  </ion-row> 
</ion-grid>

  <ion-grid *ngIf="orders"> 
    <ion-row class="ion-padding " *ngIf="orders.length > 0">  
      <ion-col size="12" class="radus5 borderlight w100 ion-margin-top" *ngFor ="let order of orders">
        <ion-grid class="ion-no-padding" dir="rtl"> 
          <ion-row>
            <ion-item class="w100" lines="none"> 
              <ion-badge *ngIf="order.currentStatus == 0" color="warning" slot="end" class="badge">
                <ion-text> قيد المعالجة</ion-text> 
                  <ion-icon slot="end" name="ellipse" color="danger"></ion-icon> 
                </ion-badge>
                <ion-badge *ngIf="order.currentStatus == 2" color="light" slot="end" class="badge">
                  <ion-text>تم الإستلام</ion-text> 
                    <ion-icon slot="end" name="ellipse" color="danger"></ion-icon> 
                  </ion-badge>
                  <ion-badge *ngIf="order.currentStatus == 1" color="success" slot="end" class="badge">
                    <ion-text>تم الدفع</ion-text> 
                  <ion-icon slot="end" name="ellipse" color="danger"></ion-icon> 
                  </ion-badge>
                  <ion-badge *ngIf="order.currentStatus == 3" color="danger" slot="end" class="badge">
                    <ion-text>تم الإلغاء</ion-text> 
                  <ion-icon slot="end" name="ellipse" color="danger"></ion-icon> 
                  </ion-badge>
              <ion-label>{{order.auctions[0].title}}</ion-label>
            </ion-item>
          </ion-row>
           
          <ion-row>
            <ion-col size="6" > 
              <img class="radus5 img" [src]="order.auctions[0].imgs[0]"/>   
            </ion-col>
            <ion-col size="6">
              <ion-grid   dir ="rtl" class="ion-no-padding"> 
                <ion-row  class="mgt10 ion-padding-start">
                  <ion-label> 
                    <ion-note color="primary"><b>رقم المزاد : </b>  </ion-note>
                    <ion-text>{{order.auctions[0]._id.substring(0,6)}}</ion-text> 
                  </ion-label> 
                </ion-row> 
                <ion-row  class="mgt10 ion-padding-start">
                  <ion-label> 
                    <ion-note color="primary"><b>سعر المنتج : </b>  </ion-note>
                    <ion-note>   {{order.higtPayedPrie}} </ion-note>
                    <ion-note>ج.س</ion-note>
                  </ion-label>
                </ion-row>
                <ion-row  class="mgt10 ion-padding-start">
                  <ion-label> 
                    <ion-note color="primary"><b>  العربون :</b>  </ion-note>
                    <ion-note> {{ - order.auctions[0].deposit}} </ion-note>
                    <ion-note>ج.س</ion-note>
                  </ion-label>
                </ion-row>
                <ion-row *ngIf="order.discount" class="mgt10 ion-padding-start">
                  <ion-label> 
                    <ion-note color="primary"><b>  تخفيض :</b>  </ion-note>
                    <ion-note> {{ - order.discount}} </ion-note>
                    <ion-note>ج.س</ion-note>
                  </ion-label>
                </ion-row> 
                <ion-row  class="mgt10 ion-padding-start">
                  <ion-label> 
                    <ion-note color="primary"><b>   المطلوب :</b>  </ion-note>
                    <ion-note>  {{+order.higtPayedPrie  - +order.auctions[0].deposit }}   </ion-note>
                    <ion-note>ج.س</ion-note>
                  </ion-label>
                </ion-row>
              </ion-grid> 
            </ion-col>
          </ion-row>
         
       
          <ion-row  class="ion-margin-top ion-justify-content-center" dir="rtl"> 
            <ion-col size="4">
              <ion-button expand="block" (click)="orderDetailsPage(order._id)">
                <h5 ><b>التفاصيل  </b></h5>
                <!-- <h5 *ngIf="order.currentStatus == 1 "><b>إستلام</b></h5>
                <h5 *ngIf="order.currentStatus > 2 "><b>التفاصيل</b></h5> -->
              </ion-button>
            </ion-col>
          </ion-row>
          </ion-grid>
      </ion-col> 
    </ion-row>
    <ion-row class="ion-padding " *ngIf="orders.length == 0" class="custGrid">
      <ion-col size="12" class="ion-text-center">
        <!-- *ngIf="spinner == true" -->
        <h3>
          <ion-label>
            ليس لديك طلبات بعد !
          </ion-label>
        </h3>
      </ion-col>
    </ion-row>


 
  </ion-grid>
  
  </ion-content>
