
<ion-content dir="rtl">
  <ion-item lines="none" >
    <ion-button fill="clear" slot="end" (click)="ok('disAgree')">
      <ion-icon name="close"></ion-icon>
    </ion-button>
  </ion-item>
  <ion-grid>
    <ion-row class="ion-margin">
      <ion-col size="12" class="ion-text-center">
        <ion-label>
          <h4>  الأحكام والشروط</h4>
        </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12" *ngFor="let term of terms">
        <ion-label><ion-text>{{term.no}} -</ion-text>{{term.term}}</ion-label>
      </ion-col>

      </ion-row>
      </ion-grid>
</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row class="ion-justify-content-center">
      <ion-col size="8" class="ion-text-center">
        <ion-button expand="block"    (click)="ok('agree')">
          <ion-label >  موافق  </ion-label>
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-footer>
