<ion-header>
  <ion-toolbar dir="rtl"> 
    <ion-title>
      <ion-icon name="wallet-outline"></ion-icon>
      المعاملات </ion-title>
  </ion-toolbar>
</ion-header>





<ion-content> 
  <ion-grid *ngIf="errorLoad == true " class="custGrid" > 
    <ion-row class="ion-no-margin  ion-no-padding ion-justify-content-center w100" > 
      <ion-col size="12" class="ion-text-center "> 
        <h3>خطأ في التحميل</h3> 
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="reload()">
          <h5>تحديث</h5>
          <ion-icon name="refresh" color="light" slot="end"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
  </ion-grid>
 
    <ion-grid *ngIf="!transactions   && errorLoad == false "  class="custGrid"> 
      <ion-row class="ion-no-margin  ion-no-padding w100" >
        <ion-col size="12" class="ion-text-center">
          <!-- *ngIf="spinner == true" -->
          <ion-spinner name="lines" color="dark" mode="ios"></ion-spinner> 
        </ion-col>
        <ion-col size="12">
          <!-- *ngIf="spinner == true" --> 
        </ion-col>
      </ion-row> 
    </ion-grid>

  


  <ion-grid class="ion-no-margin  ion-no-padding"  dir="rtl"  *ngIf="transactions ">
     
      <ion-row *ngIf="transactions.length == 0 " class="mgt50">
        <ion-col size="12"> 
             <div class="w100 centerDiv"><ion-icon name="wallet-outline" color="dark" class="f40"></ion-icon>  </div>  
        </ion-col>
        <ion-col size="12" >  
          <div  class="w100 centerDiv" ><h2 class="f30"> لا توجد معاملات مالية  </h2></div> 
        </ion-col>
      </ion-row>
    
    <!-- <ion-header class="bgtool ">
      <ion-toolbar dir="rtl"  class=" ion-margin-bottom ion-margin-top" >
        <ion-title class="ion-text-center" color="light">
          <h2 color="light"><b>الرصيــد</b></h2>
        </ion-title>
        <ion-title class="ion-text-center" color="light">
          <h2 ><b>{{walletBalance}}</b>
            <ion-text>usd</ion-text>
          </h2>  
        </ion-title>
      </ion-toolbar> 
    
    </ion-header>  -->
    <ion-row class="ion-no-padding " *ngIf="transactions.length > 0 ">
      <!-- <ion-card class="w100"> 
        <ion-list>
          <ion-item class="w100">
            <ion-icon name="card-outline"  color="primary"></ion-icon> 
           <ion-label> حساباتي </ion-label> 
          </ion-item> 
          <ion-item lines="none"   class="ion-margin-top">
            <ion-icon name="logo-google"></ion-icon> 
            <ion-label>قوقل باي</ion-label>
            <ion-icon slot="end" name="chevron-back-outline"></ion-icon>
          </ion-item>
           <ion-item lines="none" > 
            <ion-icon name="logo-apple"></ion-icon>
            <ion-label>ابل باي</ion-label>
            <ion-icon slot="end" name="chevron-back-outline"></ion-icon> 
          </ion-item>
        </ion-list> 
       
         
      </ion-card>  -->
      <ion-card class="w100"> 
        <ion-list>
          <!-- <ion-item class="w100">
            <ion-icon name="receipt-outline"  color="primary"></ion-icon> 
           <ion-label>معاملات حديثة </ion-label> 
             <ion-button slot="end"  fill="clear" color="primary">عرض الكل
              <ion-icon name="arrow-back-outline"></ion-icon>
            </ion-button>   
          </ion-item>  -->

          <ion-accordion-group>
            <ion-accordion   *ngFor="let trans of transactions ; let i = index" [value]="i">
              <ion-item slot="header" color="light">
                  <ion-icon name="arrow-up-outline" color="danger" *ngIf="trans.typee == 1"></ion-icon> 
                  <ion-icon name="arrow-down-outline" color="success" *ngIf="trans.typee == 2"></ion-icon> 
                  <ion-label> {{trans.details}}</ion-label>
                  <ion-badge slot="end" outline="true" color="danger" *ngIf="trans.typee == 1"><b>-{{trans.pay}}</b><ion-text> usd</ion-text></ion-badge>
                  <ion-badge slot="end" outline="true" color="success" *ngIf="trans.typee == 2"><b>-{{trans.pay}}</b><ion-text> usd</ion-text></ion-badge>
                
              </ion-item>
              <div class="ion-padding" slot="content">
                <ion-grid>
                  <ion-row class="ion-margin">
                    <ion-col size="3">رقم العملية:</ion-col>
                    <ion-col size="9" class="ion-text-end">{{trans._id}}</ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    <ion-col size="3">التفاصيل:</ion-col>
                    <ion-col size="9" class="ion-text-end">{{trans.details}}</ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    <ion-col size="3">التاريخ</ion-col>
                    <ion-col size="9"  class="ion-text-end">{{trans.createdAt | date:'EEE dd-MM-yyyy hh:mm a' : undefined  : 'ar'}}</ion-col>
                  </ion-row> 
                  <ion-row class="ion-margin"> 
                    <ion-col size="3">نوع العملية</ion-col>
                    <ion-col size="9"  class="ion-text-end">
                      <ion-label  *ngIf="trans.typee == 1">سحب</ion-label>
                      <ion-label  *ngIf="trans.typee == 2">ايداع</ion-label>
                    </ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    <ion-col size="3"><ion-label>المبلغ</ion-label></ion-col>
                    <ion-col size="9"  class="ion-text-end"><ion-label>{{trans.pay}} usd</ion-label></ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    <ion-col size="3"> <ion-label>من حساب</ion-label>  </ion-col>
                   
                    <ion-col size="9"  class="ion-text-end">   <ion-label><ion-text>{{trans.fromAccountTitle}} </ion-text>,{{trans.fromAccount}}</ion-label></ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    
                    <ion-col size="3"> <ion-label>الي حساب</ion-label>  </ion-col>
                    <ion-col size="9"  class="ion-text-end">  <ion-label><ion-text>{{trans.toAccountTitle}}  </ion-text>,{{trans.toAccount}}</ion-label> </ion-col>
                  </ion-row>
                  <ion-row class="ion-margin">
                    <ion-col size="3"><ion-label>تعليق</ion-label>   </ion-col>
                    <ion-col size="9"  class="ion-text-end">   <ion-label><ion-text>{{trans.toAccountTitle}}  </ion-text>,{{trans.toAccount}}</ion-label></ion-col>
                  </ion-row>
                </ion-grid>
              </div>
            </ion-accordion>
          
          </ion-accordion-group>



          <!-- <ion-item  lines="none"   class="ion-margin-top" *ngFor="let trans of transactions">
            <ion-icon name="arrow-up-outline" color="danger" *ngIf="trans.currentStatus == 1"></ion-icon> 
            <ion-icon name="arrow-down-outline" color="success" *ngIf="trans.currentStatus == 2"></ion-icon> 
            <ion-label> {{trans.details}}</ion-label>
            <ion-badge slot="end" outline="true" color="danger"><b>-{{trans.pay}}</b><ion-text> usd</ion-text></ion-badge>
            <ion-icon slot="end" name="chevron-back-outline"></ion-icon>  
          </ion-item> -->
           <!-- <ion-item lines="none"   class="ion-margin-bottom"  > 
            <ion-label> شحن رصيد عن طريق مدي</ion-label>
            <ion-badge slot="end" outline="true" color="success"><b>+3000</b><ion-text>ر.س</ion-text></ion-badge>
            <ion-icon slot="end" name="chevron-back-outline"></ion-icon>  
          </ion-item> -->
        </ion-list> 
       
         
      </ion-card> 
      </ion-row>
    </ion-grid>
    <!-- <ion-fab slot="fixed" class="float">
      <ion-chip class="ion-padding" class="bg">
        <ion-label color="light">شحن المحفظة</ion-label> 
       <ion-icon name="add-circle"  color="light" class="f30" ></ion-icon>
       
     </ion-chip>
   </ion-fab> -->
</ion-content>
