.header-md::after { 
    background-image: none;
  }
  .centerDiv {
    display: flex;
    justify-content: center;
    align-items: center;
  }
.custGrid{
    height: 100%;
    display: flex;
    align-items: center;
}

.f30{
    font-size: 30px;
}
.f40{
    font-size: 40px;
}

.ico{
    font-size: 30px;
}

.mgt50{
    margin-top:50%;
}
.float{
    position: fixed;
    bottom: 5%;
    right: 3%;
}
.bg{
    background-color: var(--ion-color-dark);
}
.bgtool{
    background-image: url('../../assets/imgs/bgtoolbar2.png'); 
    background-blend-mode: soft-light;
    background-color: var(--ion-color-primary-tint);
}

ion-toolbar{
    --opacity	:0
}