<ion-header>
  <ion-toolbar  color="light">
    <ion-buttons slot="start">
      <ion-button fill="clear" (click)="closeModel()">
        <ion-icon name="close-circle-outline" color="dark"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content dir="rtl">

<ion-list class="ion-margin-top">
  <ion-item button (click)="paymentSheet()"> 
    <ion-icon  slot="start" name="card-outline" color="dark"></ion-icon> 
    <ion-label>دفع عبر البطاقة 
    </ion-label>  
    <ion-label slot="end"><ion-note >usd</ion-note> &nbsp;<ion-text >{{amount}}</ion-text> </ion-label> 
  </ion-item>

    <!-- <ion-item button (click)="paymentSheet()" class="ion-margin-top">  
      <ion-icon  slot="start" name="wallet-outline" color="dark"></ion-icon>
      <ion-label>دفع عبر المحفظة  </ion-label>
      <ion-label slot="end"><ion-note >usd</ion-note> &nbsp; <ion-text>{{amount}}</ion-text>  </ion-label> 
    </ion-item> -->

  <ion-item button disabled="true" (click)="paymentSheet()" class="ion-margin-top"> 
    <ion-icon  slot="start" name="logo-google" color="danger"></ion-icon>
    <ion-label>
       دفع عبر قوقل باي  
      </ion-label>  
    <ion-label slot="end"><ion-note  >usd</ion-note> &nbsp; <ion-text >{{amount}}</ion-text> </ion-label> 
  </ion-item>
  <ion-item button disabled="true" (click)="paymentSheet()" class="ion-margin-top"> 
    <ion-icon slot="start" name="logo-apple" ></ion-icon>
    <ion-label>
       دفع عبر ابل باي 
    </ion-label>  
    <ion-label slot="end"><ion-note >usd</ion-note> &nbsp; <ion-text >{{amount}}</ion-text> </ion-label> 
  </ion-item>
  <!-- <ion-item button (click)=""></ion-item> -->
  <!-- <ion-item button (click)="PaymentFlowSheet()">PaymentFlowSheet</ion-item> -->
</ion-list>



  <!-- <ion-grid text-center>
    <ion-row>
      <ion-col>
        Use this Pay button in your PWA's payment page with the attached logic.
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-card class="welcome-card">
    <ion-img src="/assets/stripe.png"></ion-img>
    <ion-card-header>
      <ion-card-subtitle>Get Started</ion-card-subtitle>
      <ion-card-title>Stripe Sample</ion-card-title>
      <ion-row>
        <ion-col >Total Payment</ion-col>
         <ion-col> <ion-item><ion-input value="5302 0950 4832 9498    04/28 174 "></ion-input></ion-item></ion-col>
        
        <ion-col> {{currencyIcon}}{{paymentAmount}} </ion-col>
      </ion-row>
    </ion-card-header>
    <ion-card-content>
      <form action="/" method="post" id="payment-form">
        <div class="form-row">
          <div id="card-element"> a Stripe Element will be inserted here. </div>
          Used to display Element errors
          <div id="card-errors" role="alert"></div>
        </div>
        <ion-button type="submit" color="success" expand="full">Make Payment</ion-button>
      </form>
    </ion-card-content>
  </ion-card> -->
</ion-content>