<ion-header>
  <ion-toolbar dir="rtl">
    <ion-buttons slot="end">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title> تفاصيل الطلب </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <ion-grid *ngIf="order"> 
    <ion-row > 
      <ion-col size="12" class="radus5 borderlight w100 ion-margin-top ">
        <ion-grid class="ion-no-padding" dir="rtl"> 
          <ion-row  >
            <ion-item class="w100" lines="none"> 
                
                <ion-card-title>
                 <ion-icon name="list-outline" color="primary"></ion-icon> 
                  المنتجات
                </ion-card-title>
               
            </ion-item>
          </ion-row>
           
          <ion-row  >
            <ion-col size="12" > 
              <ion-item>
                <ion-thumbnail slot="start"><ion-img class="radus5 img" [src]="order.auctions[0].imgs[0]"></ion-img></ion-thumbnail>  
                <ion-grid   dir ="rtl" class="ion-no-padding">
                  <ion-row class="ion-margin-top ion-padding-start">
                    <ion-col size="8">
                      <ion-label > 
                        {{order.auctions[0].title}}
                     </ion-label>
                    </ion-col>
                  </ion-row>
                
                  <ion-row  class="ion-margin-top ion-padding-start">
                    <ion-label> 
                      <ion-note color="primary"><b>سعر المنتج :</b>  </ion-note>
                      <ion-note>  {{order.higtPayedPrie}}</ion-note>
                      <ion-note>  usd</ion-note>
                    </ion-label>
                  </ion-row>
                </ion-grid>
              </ion-item> 
              </ion-col>
            
          
          </ion-row> 
           
          </ion-grid>
      </ion-col> 
    </ion-row>
  </ion-grid> -->
  <ion-grid *ngIf="errorLoad == true" class="custGrid" > 
    <ion-row class="ion-no-margin  ion-no-padding ion-justify-content-center w100" > 
      <ion-col size="12" class="ion-text-center "> 
        <h3>خطأ في التحميل</h3> 
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <ion-button expand="block" (click)="reload()">
          <h5>تحديث</h5>
          <ion-icon name="refresh" color="light" slot="end"></ion-icon>
        </ion-button>  
      </ion-col>
    </ion-row> 
</ion-grid>


<ion-grid *ngIf="!order && errorLoad == false"  class="custGrid"> 
  <ion-row class="ion-no-margin  ion-no-padding w100" >
    <ion-col size="12" class="ion-text-center">
      <!-- *ngIf="spinner == true" -->
      <ion-spinner name="lines" color="dark" mode="ios"></ion-spinner> 
    </ion-col>
    <ion-col size="12">
      <!-- *ngIf="spinner == true" --> 
    </ion-col>
  </ion-row> 
</ion-grid>
 
  <ion-grid class="ion-no-margin  ion-no-padding"  dir="rtl" *ngIf="order">
    <ion-row class="ion-no-padding"> 
      <ion-card class="w100"> 
        <ion-card-header>  
            <ion-card-title>
             <ion-icon name="pricetags-outline" color="primary"></ion-icon> 
              ملخص الطلب
            </ion-card-title>
          </ion-card-header>
          <ion-grid class="ion-no-margin  ion-no-padding ion-padding-bottom" dir="rtl">
            <ion-row class="ion-no-margin  ion-no-padding">
              <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                    <ion-label> <ion-note color="primary"><b>    رقم الطلب: </b>  </ion-note>  </ion-label>
                    <ion-label slot="end">
                      <ion-note>  {{order._id.substring(0,6)}} </ion-note> 
                    </ion-label>
                  </ion-item>
              </ion-col>
               <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                    <ion-label> <ion-note color="primary"><b>    رقم المزاد: </b>  </ion-note>  </ion-label>
                    <ion-label slot="end">
                      <ion-note>  {{order.auctions[0]._id.substring(0,6)}} </ion-note> 
                    </ion-label>
                  </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                    <ion-label> <ion-note color="primary"><b>   حالة الطلب :</b>  </ion-note>  </ion-label>
                    <ion-label slot="end">
                      <ion-note *ngIf ="order.currentStatus == 0"> قيد المعالجة</ion-note>
                      <ion-note *ngIf ="order.currentStatus == 1">  تم الدفع  </ion-note>
                      <ion-note *ngIf ="order.currentStatus == 2">  تم الإستلام  </ion-note>
                      <ion-note *ngIf ="order.currentStatus == 3">  تم الإلغاء  </ion-note>
                    </ion-label>
                  </ion-item>
              </ion-col>  
              <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                    <ion-label> <ion-note color="primary"><b>    المنتجات : </b>  </ion-note>  </ion-label>
                </ion-item>
                <ion-grid>
                  <ion-row *ngFor="let prod of order['auctions'][0]['productsList']">
                    <ion-col size="8"  class="ion-text-start ion-padding">
                      <ion-label> <ion-text color="dark">{{ prod.prodName }}</ion-text>    </ion-label>
                    </ion-col>
                    <ion-col size="4"  class="ion-text-end ion-padding">
                      <ion-label> 
                        <ion-text color="dark">{{ prod.qty }} </ion-text> 
                      <ion-text> <ion-note>{{ prod.unit }}</ion-note></ion-text> 
                    </ion-label>
                  </ion-col>
                  </ion-row>
                </ion-grid> 
              </ion-col> 
                
              <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                    <ion-label> <ion-note color="primary"><b>سعر المنتجات :</b>  </ion-note>  </ion-label>
                    <ion-label slot="end">
                      <ion-note>  {{higtPayedPrie}}</ion-note>
                      <ion-note>  usd</ion-note>
                    </ion-label>
                  </ion-item>
              </ion-col> 
              <ion-col size="12" class="ion-text-center">
                <ion-item>  
                  <ion-label>
                    <ion-text color="primary"><b> العربون </b> </ion-text>
                  </ion-label>
                  <ion-label slot="end">
                    
                    <ion-text> - {{order['auctions'][0].deposit}} </ion-text>
                    <ion-text>  usd </ion-text>
                  </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-text-center" *ngIf="order.delivary">
                <ion-item lines="none"> 
                    <ion-label><ion-text color="primary"><b> التوصيل</b> </ion-text>  </ion-label>
                    <ion-label slot="end">
                      <ion-note>  {{order.delivary}}</ion-note>
                      <ion-note>  usd</ion-note>
                    </ion-label>
                </ion-item>
              </ion-col>
              <ion-col size="12" class="ion-text-center" *ngIf="order.discount">
                <ion-item>  
                  <ion-label>
                    <ion-text color="primary"><b> تخفيض </b> </ion-text>
                  </ion-label>
                  <ion-label slot="end">
                    <ion-text> - </ion-text>
                    <ion-text> {{order.discount}} </ion-text>
                    <ion-text>  usd </ion-text>
                  </ion-label>
                </ion-item>
              </ion-col>

              <ion-col size="12" class="ion-text-center">
                <ion-item lines="none"> 
                  <ion-label>
                    <ion-text color="primary"><b>صافي المبلغ المطلوب </b> </ion-text>
                  </ion-label>
                  <ion-label slot="end">
                    <ion-text>  {{ getNetTot() }}  </ion-text>
                    <ion-text> usd</ion-text>
                  </ion-label>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid> 
      </ion-card> 
      <!-- <ion-card class="w100">
        <ion-card-header>
          <ion-card-title>
            <ion-icon name="bookmark-outline" color="primary"></ion-icon> 
           تنبيه
          </ion-card-title> 
        </ion-card-header>
        <ion-grid>
          <ion-row>
            <ion-col size="12" >
             <ion-card-content>
              <ion-icon name="pin" color="primary"></ion-icon>
              <ion-label>
                يجب سداد هذه الفاتورة قبل تاريخ <ion-text>13-3-2020</ion-text>
              </ion-label>
              <ion-label>
               في حالة عدم السداد قبل التاريخ المحدد اعلاه , تعتبر هذ الفاتورة لاغية ولايمكن للمستخدم استرجاع اي مبلغ تم دفعة مقدما 
              </ion-label>
            </ion-card-content> 
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card>  -->
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer class="footer" *ngIf="order">
   <!-- *ngIf="order.currentStatus != 3" -->
   <!-- *ngIf="order.currentStatus == 0" -->
  <ion-grid dir="rtl"  *ngIf="order.currentStatus == 0"> 
    <ion-row>
      <ion-col size="6">
       <ion-item  button   color="dark" class="custItem ion-text-center"  expand="block" type="outline" (click)="presentModal('','order')"> 
        <ion-label>دفــع </ion-label>
       </ion-item >
      </ion-col>
      <ion-col size="6" class="ion-text-center">
        <h4 class="ion-no-margin">
        <ion-text color="primary">
            المبلغ
        </ion-text> <br>  
        <ion-text> {{getNetTot()}} </ion-text>
         <ion-text>usd</ion-text>
       </h4>  
      </ion-col> 
    </ion-row>

    <!-- <ion-row *ngIf="order.currentStatus == 1" class="ion-justify-content-center">
      <ion-col size="6">
       <ion-button expand="block" type="outline" (click)="presentActionSheetPick()"> 
        <h5>إستلام </h5>
       </ion-button>
      </ion-col> 
    </ion-row> -->
  </ion-grid>
</ion-footer>